:root {}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* counter body */

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 29, 27);
    padding: 4rem;
    height: 100vh;
}

/* Counter content */



/* counter screen */
.tally::part(body) {
    background-color: brown;
}

/* Reset popup */

.popup__header {
    max-width: 200px;
}

.popup__header_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
}

/* Individual buttons */

.button {
    padding: 10px;
 }

.button::part(suffix) {
padding: 1rem;
}

.button::part(prefix) {
padding: 1rem;
}

