:root {
  --main-light-color: #D3D4D9;
  --main-dark-color: #252627;
  --main-accent-color: #60af7e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
}

.icon {
  filter: invert(64%) sepia(23%) saturate(628%) hue-rotate(90deg) brightness(91%) contrast(98%);
  width: 35px;
}

.header__nav_name {
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

